---
title: Archive
layout: post
---

{% assign year = '9999' %}

{% for post in site.posts %}
  {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  
  {% if post_year < year %}
    {% if year != '9999' %}
      </ul>
    {% endif %}
    
    {% assign year = post_year %}
    
    <h3 class="year">{{ year }}</h3>
    <ul class="posts">
  {% endif %}
  
  <li>
    <span class="meta">{{ post.date  | date_to_string }} &rarr; </span>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}

{% if year != '9999' %}
</ul>
{% endif %}
