---
title: Brett Stimmerman
layout: default
---

{% assign page = site.posts.first %}
<div class="post">
  <h1 class="title">{{ page.title }}</h1>

  {% if page.date %}
  <h4 class="meta">{{ page.date | date: "%d %B %Y" }}</h4>
  {% endif %}

  {{ page.content }}

  {% if page.notes %}
  <hr />
  <div class="notes">
    <h3>Notes</h3>
    <ul>
    {% for note in page.notes %}
      <li>
         <span class="meta">{{ note.date }}</span><br/>
         {{ note.text }}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

</div>

{% assign previous = site.posts[2] %}
<div class="centered">
    Previously: <a href="{{ previous.url }}">{{ previous.title }}</a>
</div>