<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=0.8">

  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css"
    media="screen, projection" />

  <link rel="icon" href="/images/favicon.png" />
  <link rel="alternate" type="application/atom+xml"
    href="http://feeds.feedburner.com/brettstimmerman"/>

  <script type="text/javascript">
    var _gaq = _gaq || [];

    _gaq.push(['_setAccount', 'UA-67688-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var doc = document,
          ga  = doc.createElement('script'),
          s;

      ga.async = true;
      ga.src = ('https:' == doc.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

      s = doc.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div class="main">
    <div class="hd">
      <h2 class="title">
        <a href="/" rel="home">Brett Stimmerman</a>
      </h2>
    </div>

    {{ content }}
  </div>
</body>
</html>
